<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <filter>
  	<filter-name>struts2</filter-name>
  	<filter-class>
  		org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter
  	</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>struts2</filter-name>
  	<url-pattern>*.action</url-pattern>
  </filter-mapping>
  
<listener> <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class> </listener>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SearchBook</servlet-name>
    <servlet-class>servlet.SearchBook</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RemoveBook</servlet-name>
    <servlet-class>servlet.RemoveBook</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddBook</servlet-name>
    <servlet-class>servlet.AddBook</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateBook</servlet-name>
    <servlet-class>servlet.UpdateBook</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>servlet.Logout</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RemoveUser</servlet-name>
    <servlet-class>servlet.RemoveUser</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SetAdmin</servlet-name>
    <servlet-class>servlet.SetAdmin</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SetUserStatus</servlet-name>
    <servlet-class>servlet.SetUserStatus</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetAllCars</servlet-name>
    <servlet-class>servlet.GetAllCars</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowOwnerCars</servlet-name>
    <servlet-class>servlet.ShowOwnerCars</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>OwnerLogout</servlet-name>
    <servlet-class>servlet.OwnerLogout</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RemoveCar</servlet-name>
    <servlet-class>servlet.RemoveCar</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetAllOwners</servlet-name>
    <servlet-class>servlet.GetAllOwners</servlet-class>
  </servlet>













  <servlet-mapping>
    <servlet-name>SearchBook</servlet-name>
    <url-pattern>/servlet/SearchBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RemoveBook</servlet-name>
    <url-pattern>/servlet/RemoveBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddBook</servlet-name>
    <url-pattern>/servlet/AddBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateBook</servlet-name>
    <url-pattern>/servlet/UpdateBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/servlet/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RemoveUser</servlet-name>
    <url-pattern>/servlet/RemoveUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SetAdmin</servlet-name>
    <url-pattern>/servlet/SetAdmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SetUserStatus</servlet-name>
    <url-pattern>/servlet/SetUserStatus</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetAllCars</servlet-name>
    <url-pattern>/servlet/GetAllCars</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowOwnerCars</servlet-name>
    <url-pattern>/servlet/ShowOwnerCars</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OwnerLogout</servlet-name>
    <url-pattern>/servlet/OwnerLogout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RemoveCar</servlet-name>
    <url-pattern>/servlet/RemoveCar</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetAllOwners</servlet-name>
    <url-pattern>/servlet/GetAllOwners</url-pattern>
  </servlet-mapping>
  </web-app>
